/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: $title-text-color;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img/br-studio.jpg");
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: $primary-white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  border-radius: 4px;

  padding: 10px 32px;

  color: $primary-white-color;
  background-color: $actent-color;
  cursor: pointer;
  border: 4px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
