/* section Reg-custom */

.section-custom {
  display: flex;
  justify-content: center;
}

.section-custom__compagny {
  width: 170px;
  height: 92px;
}

.section-custom__compagny:not(:last-child) {
  margin-right: 30px;
}

.section-custom__link {
  @include centerFlex();
  border: 1px solid $icon-color;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: $icon-color;

  transition: color 250ms $calc-animation, border-color 250ms $calc-animation;

  &:hover,
  &:focus {
    border-color: $actent-color;
    color: $actent-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.section-custom__icon {
  fill: currentColor;
}
