.header-main__nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-nav__link {
  padding: 32px 0;
}

.header-contact__link,
.header-nav__link {
  position: relative;
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;

  transition: color 250ms $calc-animation;

  &:hover,
  &:focus {
    color: $actent-color;
  }
}

.header-nav__link--active::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: $actent-color;
  border-radius: 2px;
}

.header-nav__link--active {
  color: $actent-color;
}

.header-nav {
  display: flex;
  margin-left: 93px;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
}

.header-contact__link {
  color: $title-text-color;
  align-items: center;
  display: flex;
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
