/* Logo */

.logo,
.logo-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo {
  color: $primary-white-color;
}

.logo-header {
  color: $primary-text-color;
  list-style: none;
}

.logo-header__color,
.logo-footer {
  color: $actent-color;
  text-decoration: none;
}
