body {
  background-color: $bg-color-body;
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.header {
  border: 1px solid #ECECEC;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}