$primary-text-color: #212121;
$primary-white-color: #f5f5f5;
$title-text-color: #757575;
$actent-color: #2196f3;
$icon-color: #afb1b8;
$bg-color-body: #ffffff;
$bg-color-order: #2f303a;
$fill-icon:#000000;
$bg-svg-icon: rgba(33, 150, 243, 1);
$calc-animation: cubic-bezier(0.4, 0, 0.2, 1);


